<div class="sidebar-sticky" style="height: 100vh;">
  <div class="sidebar-header bg-white p-4">
    <img src="assets/img/logo.png" alt="Logo" class="logo">
  </div>
  <ul class="nav flex-column pt-4">
    <li class="nav-item">
      <a class="nav-link" routerLink="tracking_list">
        <span data-feather="plus-circle"></span>
        Tracking Orders
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="new_tracking">
        <span data-feather="list"></span>
        New Tracking
      </a>
    </li>
  </ul>
</div>
