<app-header></app-header>

<div class="page-banner-wrap text-center bg-cover" style="background-image: url('assets/img/page-banner.jpg')">
  <div class="container">
      <div class="page-heading text-white">
          <h1>contact us</h1>
      </div>
  </div>
</div>
<div class="breadcrumb-wrapper">
  <div class="container">
      <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">contact Us</li>
          </ol>
      </nav>
  </div>
</div>

<section class="contact-page-wrap section-padding">
  <div class="container">
      <div class="row">
          <div class="col-md-6 col-12">
              <div class="single-contact-card card">
                  <div class="top-part">
                      <div class="title text-center">
                        <i class="fal fa-envelope"></i>
                          <h4>Email Address</h4>
                      </div>
                  </div>
                  <div class="bottom-part text-center">
                      <div class="info">
                          <p>info@flixshipping.com</p>
                      </div>

                  </div>
              </div>
          </div>

          <div class="col-md-6 col-12">
              <div class="single-contact-card card">
                  <div class="top-part">
                      <div class="title text-center">
                        <i class="fal fa-map-marker-alt"></i>
                        <h4>Office Address</h4>

                      </div>
                  </div>
                  <div class="bottom-part text-center">
                      <div class="info">
                          <p>Wehrlisteig 20, 8049 Zurich, Switzerland</p>

                      </div>

                  </div>
              </div>
          </div>
      </div>

      <div class="row pt-5">
          <div class="block-contents mb-30 pt-60">
              <div class="section-title text-center">
                  <h5 class="text-center">contact</h5>
                  <h2>get <span>in touch</span></h2>
              </div>
          </div>

          <div class="col-12 col-lg-12">
              <div class="contact-form">
                  <form action="mail.php" class="row" id="contact-form">
                      <div class="col-md-6 col-12">
                          <div class="single-personal-info">
                              <label for="fname">Full Name</label>
                              <input type="text" id="fname" placeholder="Enter Name" >
                          </div>
                      </div>
                      <div class="col-md-6 col-12">
                          <div class="single-personal-info">
                              <label for="email">Email Address</label>
                              <input type="email" id="email" placeholder="Enter Email Address" >
                          </div>
                      </div>
                      <div class="col-md-6 col-12">
                          <div class="single-personal-info">
                              <label for="phone">Phone Number</label>
                              <input type="text" id="phone" placeholder="Enter Number">
                          </div>
                      </div>
                      <div class="col-md-6 col-12">
                          <div class="single-personal-info">
                              <label for="subject">Subject</label>
                              <input type="text" id="subject" placeholder="Enter Subject">
                          </div>
                      </div>
                      <div class="col-md-12 col-12">
                          <div class="single-personal-info">
                              <label for="message">Enter Message</label>
                              <textarea id="message" placeholder="Enter message"></textarea>
                          </div>
                      </div>
                      <div class="col-md-12 col-12 text-center">
                          <input class="submit-btn" type="submit" value="Send A Message">
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</section>


<app-footer></app-footer>
