<!-- Sidebar -->
<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block sidebar" style="background-color: #1f425d;color: #fff;">
     <app-sidebar></app-sidebar>
    </nav>

    <!-- Main Content -->
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center p-2 mb-3 border-bottom">
        <h6 class="h21" style="color: #3fbafc;"><a routerLink="/">BACK TO HOMEPAGE</a></h6>
      </div>

      <router-outlet></router-outlet>
      <!-- Create New Tracking Order -->



    </main>
  </div>
</div>

