<app-header></app-header>

<div class="page-banner-wrap text-center bg-cover" style="background-image: url('assets/img/page-banner.jpg')">
  <div class="container">
      <div class="page-heading text-white">
          <h1>about us</h1>
      </div>
  </div>
</div>
<div class="breadcrumb-wrapper">
  <div class="container">
      <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">About Us</li>
          </ol>
      </nav>
  </div>
</div>

<section class="about-us-wrapper section-padding">
  <div class="container">
      <div class="row">
          <div class="col-lg-5 text-center text-lg-start">
              <div class="about-img">
                  <img src="assets/img/about-air.jpg" alt="">
              </div>
          </div>
          <div class="col-lg-7 mt-5 mt-lg-0 ps-lg-5">
              <div class="block-contents">
                  <div class="section-title">
                      <h5 class="textleft relative">about</h5>

                      <h2>Company <span>Overview</span></h2>
                  </div>
              </div>
              <div class="about-info-contents">
                  <p>Flix Shipping is the world’s driving worldwide coordinations supplier — we uphold industry and exchange the worldwide trade of merchandise through land transport.Flix Shipping is the world’s driving worldwide coordinations supplier — we uphold industry and exchange the worldwide trade of merchandise through land transport.
                  </p>
                  <p>Our worth added administrations guarantee the progression of products proceeds consistently and supply chains stay lean and streamlined for progress.</p>
              </div>

          </div>
      </div>
  </div>
</section>

<section class="why-chose-us section-padding section-bg">
  <div class="container">
      <div class="row">
          <div class="col-12 col-lg-12 mb-40">
              <div class="block-contents text-center">
                  <div class="section-title">
                      <h5>features</h5>

                      <h2>Reasons <span>Why choose</span></h2>
                  </div>
              </div>
          </div>
      </div>

      <div class="row mtm-30">
          <div class="col-md-6 col-12 col-lg-4 mt-30">
              <div class="single-features-box">
                  <div class="icon">
                      <i class="far fa-sack-dollar"></i>
                  </div>
                  <div class="contents">
                      <h4>Transparent Pricing</h4>
                      <p>We commit ourselves to complete all projects within the timeline set with our honorable clients.</p>
                  </div>
              </div>
          </div>
          <div class="col-md-6 col-12 col-lg-4 mt-30">
              <div class="single-features-box">
                  <div class="icon">
                      <i class="fal fa-shipping-timed"></i>
                  </div>
                  <div class="contents">
                      <h4>On - Time Delivery</h4>
                      <p>We commit ourselves to complete all projects within the timeline set with our honorable clients.</p>
                  </div>
              </div>
          </div>
          <div class="col-md-6 col-12 col-lg-4 mt-30">
              <div class="single-features-box">
                  <div class="icon">
                      <i class="fal fa-clock"></i>
                  </div>
                  <div class="contents">
                      <h4>Real Time Tracking</h4>
                      <p>We commit ourselves to complete all projects within the timeline set with our honorable clients.</p>
                  </div>
              </div>
          </div>
          <div class="col-md-6 col-12 col-lg-4 mt-30">
              <div class="single-features-box">
                  <div class="icon">
                      <i class="fal fa-plane-departure"></i>
                  </div>
                  <div class="contents">
                      <h4>Global Logistics Partner</h4>
                      <p>We commit ourselves to complete all projects within the timeline set with our honorable clients.</p>
                  </div>
              </div>
          </div>
          <div class="col-md-6 col-12 col-lg-4 mt-30">
              <div class="single-features-box">
                  <div class="icon">
                      <i class="fal fa-user-headset"></i>
                  </div>
                  <div class="contents">
                      <h4>24/7 Online Support</h4>
                      <p>We commit ourselves to complete all projects within the timeline set with our honorable clients.</p>
                  </div>
              </div>
          </div>
          <div class="col-md-6 col-12 col-lg-4 mt-30">
              <div class="single-features-box">
                  <div class="icon">
                      <i class="fal fa-shield-check"></i>
                  </div>
                  <div class="contents">
                      <h4>Insurance & guarantee</h4>
                      <p>We commit ourselves to complete all projects within the timeline set with our honorable clients.</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<section class="brand-showcase-funfact-wrapper section-padding bg-contain bg-center" style="background-image: url('assets/img/dot_map.png')">
  <div class="container">

      <div class="row d-flex justify-content-center align-items-center">
          <div class="col-md-4 col-lg-3 col-12">
              <div class="single-brand-logo">
                  <img src="assets/img/brand/1.png" alt="Flix Shipping">
              </div>
          </div>
          <div class="col-md-4 col-lg-3 col-12">
              <div class="single-brand-logo">
                  <img src="assets/img/brand/2.png" alt="Flix Shipping">
              </div>
          </div>
          <div class="col-md-4 col-lg-3 col-12">
              <div class="single-brand-logo">
                  <img src="assets/img/brand/3.png" alt="Flix Shipping">
              </div>
          </div>
          <div class="col-md-4 col-lg-3 col-12">
              <div class="single-brand-logo">
                  <img src="assets/img/brand/4.png" alt="Flix Shipping">
              </div>
          </div>
          <div class="col-md-4 col-lg-3 col-12">
              <div class="single-brand-logo">
                  <img src="assets/img/brand/5.png" alt="Flix Shipping">
              </div>
          </div>
          <div class="col-md-4 col-lg-3 col-12">
              <div class="single-brand-logo">
                  <img src="assets/img/brand/6.png" alt="Flix Shipping">
              </div>
          </div>
          <div class="col-md-4 col-lg-3 col-12">
              <div class="single-brand-logo">
                  <img src="assets/img/brand/7.png" alt="Flix Shipping">
              </div>
          </div>
      </div>
  </div>
</section>


<app-footer></app-footer>
