<app-header></app-header>

<div class="page-banner-wrap text-center bg-cover" style="background-image: url('assets/img/page-banner.jpg')">
  <div class="container">
    <div class="page-heading text-white">
      <h1>Login </h1>
    </div>
  </div>
</div>
<div class="breadcrumb-wrapper">
  <div class="container">
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Login</li>
      </ol>
    </nav>
  </div>
</div>

<section class="contact-page-wrap section-padding">
  <div class="container">

    <div class="row pt-5 justify-content-center">

      <div class="col-md-6">
        <div class="contact-form tracking-form">
          <form #form="ngForm" (ngSubmit)="login(form)" class="row justify-content-center" id="contact-form">
            <div class="col-md-12 col-12">
              <div class="single-personal-info">
                <label for="track">EMAIL ADDRESS </label>
                <input type="email" id="email" ngModel name="email" required>
              </div>
              <div class="single-personal-info">
                <label for="track">PASSWORD </label>
                <input type="password" id="password" ngModel name="password" required>
              </div>
            </div>

            <div class="col-md-12 col-12 text-center">
              <input class="submit-btn" type="submit" value="LOGIN" [disabled]="form.invalid">
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</section>


<app-footer></app-footer>
