<app-header></app-header>

<div class="page-banner-wrap text-center bg-cover" style="background-image: url('assets/img/page-banner.jpg')">
  <div class="container">
      <div class="page-heading text-white">
          <h1>our Services</h1>
      </div>
  </div>
</div>
<div class="breadcrumb-wrapper">
  <div class="container">
      <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">services</li>
          </ol>
      </nav>
  </div>
</div>

<section class="our-service-wrapper fix theme-bg section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-9">
        <div class="block-contents">
          <div class="section-title">
            <h5 class="textleft">Service</h5>

            <h2>What <span>We Do</span></h2>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-3">
        <div class="single-service-card">
          <div class="service-banner-img bg-cover" style="background-image: url('assets/img/services/air.jpg')"></div>
          <div class="content">
            <h3><a >Air Freight</a></h3>
            <p>As a leader in global air freight forwarding, OIA Global excels in providing tailored transportation</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="single-service-card">
          <div class="service-banner-img bg-cover" style="background-image: url('assets/img/services/ship.jpg')"></div>
          <div class="content">
            <h3><a >Ocean Freight</a></h3>
            <p>Ocean Freight plays perhaps the most vital role in most transportation and supply chain solutions.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="single-service-card">
          <div class="service-banner-img bg-cover" style="background-image: url('assets/img/services/road.jpg')"></div>
          <div class="content">
            <h3><a>Road Freight</a></h3>
            <p>Cargo are transported at some stage of their journey along the world’s roads where we give you a
              reassuring presence.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="single-service-card">
          <div class="service-banner-img bg-cover" style="background-image: url('assets/img/services/warehouse.jpg')"></div>
          <div class="content">
              <h3><a>Warehousing</a></h3>
              <p>Package and store your things effectively and securely to make sure them in storage. best warehouse for your products.</p>
          </div>
      </div>
      </div>
    </div>
  </div>
</section>

<section class="brand-showcase-funfact-wrapper section-padding bg-contain bg-center"
  style="background-image: url('assets/img/dot_map.png')">
  <div class="container">


    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-md-4 col-lg-3 col-12">
        <div class="single-brand-logo">
          <img src="assets/img/brand/1.png" alt="Flix Shipping">
        </div>
      </div>
      <div class="col-md-4 col-lg-3 col-12">
        <div class="single-brand-logo">
          <img src="assets/img/brand/2.png" alt="Flix Shipping">
        </div>
      </div>
      <div class="col-md-4 col-lg-3 col-12">
        <div class="single-brand-logo">
          <img src="assets/img/brand/3.png" alt="Flix Shipping">
        </div>
      </div>
      <div class="col-md-4 col-lg-3 col-12">
        <div class="single-brand-logo">
          <img src="assets/img/brand/4.png" alt="Flix Shipping">
        </div>
      </div>
      <div class="col-md-4 col-lg-3 col-12">
        <div class="single-brand-logo">
          <img src="assets/img/brand/5.png" alt="Flix Shipping">
        </div>
      </div>
      <div class="col-md-4 col-lg-3 col-12">
        <div class="single-brand-logo">
          <img src="assets/img/brand/6.png" alt="Flix Shipping">
        </div>
      </div>
      <div class="col-md-4 col-lg-3 col-12">
        <div class="single-brand-logo">
          <img src="assets/img/brand/7.png" alt="Flix Shipping">
        </div>
      </div>
    </div>
  </div>
</section>


<app-footer></app-footer>
