<div class="row">
  <div class="col-md-12">
    <div class="card p-4">
      <div class="header">
        <h4 class="title">Add new Tracking Details</h4>
      </div>
      <div class="content">
        <form #form="ngForm" (ngSubmit)="update(form)">
          <div class="row">
            <div class="col-md-6 my-2 ">
              <div class="form-group">
                <label>Tracking number</label>
                <input type="text" class="form-control" ngModel name="trackingno" placeholder="New Tracking number"
                [(ngModel)]="number" required>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5 my-2">
              <div class="form-group">
                <label>Package Details</label>
                <textarea rows="5" class="form-control" required ngModel name="package"
                  placeholder="Add sender details here" [(ngModel)]="desc"></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5 my-2">
              <div class="form-group">
                <label>Tracking status</label>
                <input type="text" class="form-control" required ngModel name="status" [(ngModel)]="status" placeholder="Tracking status">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-5 my-4">
              <div class="header">
                <h4 class="title">Sender details</h4>
              </div>
              <!-- <div class="row">
                          <div class="col-md-12"> -->
              <div class="form-group my-2">
                <label>Full Name</label>
                <input type="text" class="form-control" ngModel name="sender_fname" placeholder="First Name" [(ngModel)]="sender">
              </div>


              <div class="form-group my-2">
                <label>Telephone</label>
                <input type="tel" class="form-control" ngModel name="sender_phone" placeholder="phone" [(ngModel)]="s_phone">
              </div>

              <div class="form-group my-2">
                <label>Email address</label>
                <input type="tel" class="form-control" ngModel name="sender_email" placeholder="phone" [(ngModel)]="s_email">
              </div>

              <div class="form-group my-2">
                <label>City</label>
                <input type="text" class="form-control" ngModel name="sender_city" placeholder="City" [(ngModel)]="s_city">
              </div>

              <div class="form-group my-2">
                <label>Country</label>
                <input type="text" class="form-control" ngModel name="sender_country" placeholder="Country" [(ngModel)]="s_country">
              </div>

              <div class="form-group my-2">
                <label>Postal Code</label>
                <input type="number" class="form-control" ngModel name="sender_zipcode" placeholder="ZIP Code" [(ngModel)]="s_post">
              </div>

              <div class="form-group my-2">
                <label>Sender Address</label>
                <textarea rows="5" class="form-control" ngModel name="sender_address"
                  placeholder="Add sender details here" [(ngModel)]="s_address"></textarea>
              </div>
            </div>


            <div class="col-md-1"></div>



            <div class="col-md-5 my-4">
              <div class="header">
                <h4 class="title">Recipient details</h4>
              </div>

              <div class="form-group my-2">
                <label>Full Name</label>
                <input type="text" class="form-control" ngModel name="recipient_fname" placeholder="First Name"
                [(ngModel)]="recipient">
              </div>



              <div class="form-group my-2">
                <label>Telephone</label>
                <input type="tel" class="form-control" ngModel name="recipient_phone" placeholder="phone" [(ngModel)]="r_phone">
              </div>

              <div class="form-group my-2">
                <label>Email address</label>
                <input type="tel" class="form-control" ngModel name="recipient_email" placeholder="phone" [(ngModel)]="r_email">
              </div>

              <div class="form-group my-2">
                <label>City</label>
                <input type="text" class="form-control" ngModel name="recipient_city" placeholder="City" [(ngModel)]="r_city">
              </div>

              <div class="form-group my-2">
                <label>Country</label>
                <input type="text" class="form-control" ngModel name="recipient_country" placeholder="Country" [(ngModel)]="r_country">
              </div>

              <div class="form-group my-2">
                <label>Postal Code</label>
                <input type="number" class="form-control" ngModel name="recipient_zipcode" placeholder="ZIP Code" [(ngModel)]="r_post">
              </div>

              <div class="form-group my-2">
                <label>Recipient Address</label>
                <textarea rows="5" class="form-control" ngModel name="recipient_address"
                  placeholder="Add recipient details here" [(ngModel)]="r_address"></textarea>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary btn-fill pull-left">Update Details</button>
          <div class="clearfix"></div>
        </form>
      </div>
    </div>
  </div>

</div>
